.hero {
  padding: 35px 40px 20px 40px;
  grid-template-columns: 95px auto;

  .hero__container__two {

    .hero__list {

      .hero__item {

        .hero__link {
          font-size: 1.4rem;
        }

      }

    }

  }

}