.main {

  .main__container {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 80px 40px 0 40px;
    margin-bottom: 200px;

    .main__content {
      order: 0;
      text-align: start;
    }

  }

  .main__container__two {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 0 50px;

    .main__content {
      order: 0;

      .main__title {
        text-align: start;

      }


      .main__div {
        justify-content: start;
      }

      .card {
        margin: 0;
      }

    }

  }

  .main__contentainer__three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    text-align: start;
    justify-content: space-between;
    padding: 60px 50px;

    .main__form {
      width: 100%;
    }

  }

}