// ## Colors

// ### Primary
$Very-Dark-Blue: rgb(7, 4, 57);
$Desaturated-Blue: rgb(88, 89, 137);

// ### Accent
$Bright-Blue: rgb(48, 101, 248);
$Moderate-Cyan: rgb(60, 159, 143);

// ### Neutral
$Light-Grayish-Blue: rgb(246, 246, 254);
$Light-Gray: rgb(191, 191, 191);

// ## Typography

// ### Headings, Call-to-actions, Header Navigation
$Family-Raleway:'Raleway', sans-serif;

// ### Body
$Family-Open-Sans:'Open Sans', sans-serif;